.selector-for-some-widget {
  box-sizing:content-box;
  }

  /* @media screen and (min-width: 1408px)
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
      /* max-width: 1344px; */
   
      @media screen and (min-width: 1408px){
        .container:not(.is-max-desktop):not(.is-max-widescreen) {
          max-width: 1110px;
      }
      }
      

      body {padding-top: 136px;}
  .wrap {
    position:relative;
    
  }
  


  .ItemCard p {
    margin-top: 0;
    margin-bottom: 10px;
}


.ItemCard .card-title {
  font-size:20px;
}

.ItemCard .card-body {
  /* flex: 1 1 auto; */
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
header {
  width:100%;
  position: fixed; 
  background:#1d1d1d;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-direction:column;
	position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 99999;
  }

  .headerNav {
  width:100%;
  background:#1d1d1d;

  }
  
  .headerLogin {
  background:#fff;
  width:100%;
  display:flex;
  justify-content:center;
  }
  
  .headerLogin ul {
    width:1110px;
      max-width: 1200px;
  }
  
  .headerLogin nav {
  background:#fff;
  width:100%;
  }
  
  .headerNav .search {
  width:100%;
  display:flex;
  justify-content:center;
  }


  
  .headerNav .search .navbar {
  width:1110px;
  background:#1d1d1d!important;
  }
  
  .headerNav .search .dropdown-menu a {
  color:#000;
  }


  .quickmenu {
    position:absolute;
    width:150px;
    top:50%;
    float: left;
    margin-top:-20px;
    right:20px;
    background:#fff;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid #ddd;
    box-shadow: 3px 3px 3px #1d1d1d;
  }
  .quickmenu ul {
    position:relative;
    width:100%;
    float: left;
    display:inline-block;
    display:inline;
  }
  .quickmenu ul li a img{
    width:100%;
    height:100%;
  }
 
 
  section {
  display:flex;
  flex-direction:column;
  }
  
  .ItemButton {
  height:auto;
  display:flex;
  justify-content:center;
  margin:30px 0 50px 0px;
  }
  
  .ItemTitle {
  margin:50px 0 50px 0;
  display:flex;
  justify-content:center;

  }
  
  .Tip {
  background:#3b3b3b;
  height:400px;
  }
  
  .Tip img {
  height:100%;
  }
  
  .b-example-divider {
  height:3rem;
  background-color:rgba(0,0,0,.1);
  border:solid rgba(0,0,0,.15);
  box-shadow:inset 0 .5em 1.5em rgba(0,0,0,.1), inset 0 .125em .5em rgba(0,0,0,.15);
  border-width:1px 0;
  }
  
  .bi {
  vertical-align:-.125em;
  fill:currentColor;
  }
  
  .card-body {
  text-align:center;
  }
  
  .ItemCard .card {
  width:100%;
  margin-bottom:20px;
  display:flex;
  justify-content:center;
  }
  
  #footer {
  background-color:#1F2428;
  width:100%;
  }
  
  .headerNav .search .navbar a,.headerNav .search .nav-link:hover {
  color:#fff;
  }

.nav-link a {color:#343a40}
.nav-link a:hover {color:#343a40}


/* 회원가입 css */
.signUpwrap {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.signUpwrap .form-wrap {
  width: 460px;
  height: 730px;
  position: relative;
  margin: 2.6% auto;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background:#fefcfc;
}
.signUpwrap .button-wrap {
  width: 241px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 300px 9px #818181;
  background:#a5a5a5;
  border-radius: 30px;
}
.signUpwrap .togglebtn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color:#fff;
}
.signUpwrap #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: #343a40;
  border-radius: 30px;
  transition: .5s;
 
}
.signUpwrap .social-icons {
  margin: 10px auto;
  text-align: center;
}
.signUpwrap .social-icons img {
  width: 30px ;
  cursor: pointer;
}
.signUpwrap .input-group {
  top: 210px;
  position: absolute;
  width: 380px;
  transition: .5s;
  margin:0;
  border:0;
}
.signUpwrap .input-field {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.signUpwrap .submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  background: #343a40;
  border: 0;
  outline: none;
  border-radius: 30px;
  color:#fff;
}
.signUpwrap .checkbox {
  margin: 30px 10px 30px 0;
}

.signUpwrap #login {
  left: 42px;
}
.signUpwrap #register {
  left: 485px;
}



.signUpwrap input[type=button]{
  width: 30%;
  background-color: lightgray;
  border:none;
  background-color: #343a40;
  font-size:1em;
  color:#fff;
  outline:none;
  display:inline;
  height:42px;
  margin-bottom: 2px;
}

.signUpwrap input[type="tel"]{
  width:70%;
  height:100%;
  border:none;
  font-size:1em;
  display:inline;
  outline:none;
  color:black;
  border-bottom: 1px solid #999;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  
}
.input-group button {
  border-radius: 30px;
  margin-top:30px;
  background-color: #343a40;
  padding:10px 0;
}
.form-check-inline {
  margin-top:10px;
}

/* 업로드페이지 css */


.UploadPageWrap .form-wrap {
  position: relative;
  margin: 2.6% auto;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  background: #fefcfc;
  text-align: center;
}
.UploadPageWrap  .UploadTitle {
  font-size:30px;
  font-weight: bold;
  padding: 30px;
}


.UploadPageWrap .remove:hover {
  background: white;
  color: black;
}

.UploadPageWrap h3 {
  text-align: left;
  margin: 10px 0;
  font-size:medium
}

.UploadPageWrap .btnSubmit {
  margin: 30px;
  padding:10px;
}

.UploadPageWrap .uploadImg {
  border:1px solid #ddd;
  border-radius: 10px;
  padding:10px 10px;
}
.UploadPageWrap .uploadImg img {
  height:150px;
}


.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.btn-outline-secondary {padding: 0 10px;}

.UploadPageWrap .detailimg {
  display: flex;
}

.UploadPageWrap .form-check-inline {
  margin-top:0px;
}

.UploadPageWrap table {
       margin-bottom: 20px;
   
}



.UploadPageWrap .table thead td, .table thead th {
  border-width: 0 0 0px;
  color: #363636;
}













.DetailPage .card-body {
  text-align: left;
}

.DetailPage .comment-add {
  width: 100%;
  margin-bottom: 20px;


}


.DetailPage .comment-add>textarea {
  margin: 0;
  padding: 10px;
  display: table-cell;
  width: calc(100% - 102px);
  min-height: 100px;
  vertical-align: top;
  resize: vertical;
}

.DetailPage .comment-add>button {
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 80px;
  height: 100%;
  vertical-align: top;
}


.DetailPage div.comment-edit>p {
  white-space: pre-line;
}

.DetailPage div.comment-edit>div {
  display: none;
}

.DetailPage div.comment-edit>div>form {
  width: 100%;
  margin-bottom: 10px;
  display: table;
  height: 100px;
}

.DetailPage div.comment-edit>div>form>textarea {
  margin: 0;
  padding: 10px;
  display: table-cell;
  width: calc(100% - 102px);
  min-height: 100px;
  vertical-align: top;
  resize: vertical;
}

.DetailPage div.comment-edit>div>form>button {
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 80px;
  height: 100%;
  vertical-align: top;
}

.DetailPage button {
  border: none;
  color: #fff;
  background-color: #3b3b3b;
  margin-right: 5px;
}

.DetailPage .comment-edit-btn-close {
  display: none;
}


.DetailPage .comment-item {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.DetailPage .comment-item>img {
  margin-right: 10px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: top;
 
}

.DetailPage .comment-item>div:first-of-type {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: top;

}

.DetailPage .comment-item>div:first-of-type>p {
  display: inline-block;
  margin-right: 5px;
}


.DetailPage .comment-delete-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);

}

.DetailPage .comment-delete-modal>div {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
}

.DetailPage img {cursor:pointer;}