body {
  padding-top: 130px;
}

.wrap {
  position: relative;

}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0) !important;
  border: none;
}

.shadow-sm {
  box-shadow: 0 .0 .0 rgba(0, 0, 0, 0) !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.fw-light {
  font-weight: 600 !important;
}

.MainTitle h1 {
  padding: 30px 0;
  text-align: center;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}

.ItemList .MainTitle {
  margin-top: 20px;
}


.UploadPageWrap .imagePreview {

  background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);

}


@media (min-width: 576px) {

  .row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .quickmenu {
    position: absolute;
    top: 50%;
    float: left;
    margin-top: -20px;
    right: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
    display: none;
  }
}


@media screen and (max-width: 599px) {
  main .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }



  .price .justify-content-end {
    justify-content: space-between !important;
  }

  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0) !important;
    border: none;
  }

  .myPagewrap .position-sticky {
    margin-top: -16px;
  }

  main .card img {
    width: 167px;
    height: 140px;
  }

  main .card-body .btn {
    margin: 15px;
  }

  main .card-body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
    text-align: left;
    justify-content: center;
  }

  .aalbum .card-body {
    padding: 10px 0 0 0;
    text-align: center;
  }

  main .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .DetailInner .carousel-item {
    width: 100%;
    height: 300px;
    position: relative;
    background: #fff;
  }

  .UploadPageWrap .form-group {
    padding: 10px;
    background: #fff;
  }

  .myPage_img {
    width: 150px;
  }

  #sidebarMenu:not(.show) {
    display: block !important;
  }

  .myPage_menubar {
    display: block;
  }

  .myPagewrap {
    width: 100%;
  }


  .UploadPageWrap .delete {
    width: 100%;
    margin-right: 18px;
    margin: 15px;
  }



  .Price_box {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .price_text {
    width: 120px;
  }

  .price {
    width: 60px;
  }

  .UploadPageWrap .table-active {
    font-size: 14px;
    background: #333436;
    color: #fff;
    height: 40px;
    margin-top: 50px;

  }

  .UploadPageWrap .d-grid a button {
    padding: 10px;
  }

  .UploadPageWrap .imagePreview {
    width: 100%;
    height: 260px !important;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  .table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }

  .quickmenu {
    position: absolute;
    top: 50%;
    float: left;
    margin-top: -20px;
    right: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #1d1d1d;
    display: none;
  }

  .UploadPageWrap .imagePreviewMain {
    width: 100%;
    height: 260px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae….jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  .Certified {
    width: 100%;
  }

  .myPagewrap .nav-item {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
}

@media (min-width: 600px) {
  main .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  main .card img {
    max-width: 100%;
    opacity: 1;
  }

  main .card img:hover {
    max-width: 100%;
    opacity: 0.7;
  }

  main .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
    text-align: left;
  }

  main .card-body .btn {
    margin-top: 20px;
  }

  main .card {
    width: 80%;
    border: none;
    display: flex;
  }


  .myPagewrap main .card img {
    max-width: 100%;
    height: 200px;
    opacity: 1;
  }

  .myPagewrap main .card img:hover {
    max-width: 100%;
    opacity: 0.7;
  }

  .Certified {
    width: 100%;
  }

  .myPage_img {
    width: 200px;
  }

  .myPage_menubar {
    display: block;
  }
}

@media (min-width: 768px) {
  .px-md-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-bottom: 1.5rem;
  }

  .UploadPageWrap .imagePreview {
    width: 100%;
    height: 590px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  .row-cols-md-3>* {
    /* flex: 0 0 auto; */
    width: 33.3333333333%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}



@media (min-width: 1200px) {
  main .card img {
    max-width: 100%;
    height: 290px;
    opacity: 1;
    width: 100%;
  }

  .myPagewrap main .card img {
    max-width: 100%;
    height: 260px;
    opacity: 1;
  }

  .myPagewrap main .card img:hover {
    max-width: 100%;
    opacity: 0.7;
  }

  main .card img:hover {
    max-width: 100%;

    opacity: 0.7;
  }

  main .card {
    /* width: 90%; */
    border: none;
  }

  main .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    text-align: left;
  }

  .UploadPageWrap .form-group {
    padding: 20px 30px;
    background: #fff;
  }

  .UploadPageWrap .d-grid a button {
    padding: 10px;
    width: 80%;
  }

  .DetailInner .carousel-item {
    width: 800px;
    height: 600px;
    position: relative;
    background: #fff;
  }

  .row-cols-md-3>* {
    /* flex: 0 0 auto; */
    width: 33.3333333333%;
    display: flex;
    justify-content: space-around;
  }

  .UploadPageWrap .imagePreviewMain {
    width: 100%;
    height: 500px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer
  }

  .quickmenu {
    position: absolute;
    top: 50%;
    float: left;
    margin-top: -20px;
    right: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
    display: block;
  }

  .Certified {
    width: 100%;
  }

  .myPage_img {
    width: 200px;
  }

  .myPage_menubar {
    display: none;
  }

  .myPagewrap {
    width: 1296px;
  }

  .UploadPageWrap .imagePreview {
    width: 100%;
    height: 270px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer
  }
}






main .card-body p {
  margin-bottom: 5px;
  color: #161616 !important;
  font-size: 15px;
  font-weight: 300;
}

main .card-body span {
  font-size: 20px;
  color: #161616;
  margin-bottom: 10px;
  font-weight: 600;
  ;
}

.main .card {
  width: 16rem;
}

.main .row {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  position: fixed;
  background: #1d1d1d;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.HotItem .card img {
  height: 190px;
}

.HotItem .card:hover {
  background: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgb(218, 218, 218);
}

.HotItem .card a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
}

.headerNav {
  width: 100%;
  background: #1d1d1d;
}

.headerNav .form-control {
  border-radius: 20px;
  padding: 5px;
}

.headerNav .btn-outline-success {
  border-radius: 30px;
  background: #fff;
  color: #1d1d1d;
  border: #1d1d1d;
}

.headerNav .btn-outline-success:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.headerLogin {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerLogin ul {
  width: 1296px;
  /* max-width: 1200px; */
}

.headerLogin nav {
  background: #fff;
  width: 100%;

}


.position-sticky {
  display: block;
}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.headerNav .search {
  width: 100%;
  display: flex;
  justify-content: center;

  height: 80px;
}



.headerNav .search .navbar {
  width: 1296px;
  background: #1d1d1d !important;
  background: tomato;
  display: flex;
  justify-content: space-between;
}

.headerNav .search .dropdown-menu a {
  color: #000;
}




.quickmenu img {
  width: 200px
}



.quickmenu ul li a img {
  width: 100%;
  height: 100%;
}

.slider {
  margin-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
}

.ItemButton {
  height: auto;
  display: flex;
  justify-content: center;
  margin: 10px 0 30px 0px;
}

.ItemTitle {
  padding: 40px;
  display: flex;
  justify-content: center;

}



.main .card {
  width: 16rem;
}

.Tip {
  background: #3b3b3b;
  height: 400px;
}

.Tip img {
  height: 100%;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  border-width: 1px 0;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}







#footer {
  background-color: #1F2428;
  width: 100%;
}

.headerNav .search .navbar a,
.headerNav .search .nav-link:hover {
  color: #fff;
}

.nav-link a {
  color: #343a40
}

.nav-link a:hover {
  color: #818181
}


.signUpwrap .togglebtn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #fff;
}

.signUpwrap #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: #343a40;
  border-radius: 30px;
  transition: .5s;

}

.signUpwrap .social-icons {
  margin-top: 80px;
  text-align: center;
}

.signUpwrap .social-icons img {
  width: 100px;
  cursor: pointer;
}

.signUpwrap .input-group {
  top: 210px;
  position: absolute;
  width: 380px;
  transition: .5s;
  margin: 0;
  border: 0;
}

.signUpwrap .input-field {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.signUpwrap .submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  background: #343a40;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.signUpwrap .checkbox {
  margin: 30px 10px 30px 0;
}

.signUpwrap #login {
  left: 42px;
}

.signUpwrap #register {
  left: 40px;
}



.signUpwrap input[type=button] {
  width: 30%;
  background-color: lightgray;
  border: none;
  background-color: #343a40;
  font-size: 1em;
  color: #fff;
  outline: none;
  display: inline;
  height: 42px;
  margin-bottom: 2px;
}

.signUpwrap input[type="tel"] {
  width: 70%;
  height: 100%;
  border: none;
  font-size: 1em;
  display: inline;
  outline: none;
  color: black;
  border-bottom: 1px solid #999;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;


}

.input-group button {
  border-radius: 30px;
  margin-top: 10px;
  background-color: #343a40;
  padding: 10px 0;
}

.input-group button:nth-child(1) {

  margin-top: 30px;

}

.form-check-inline {
  margin-top: 10px;
}

/* 업로드페이지 css */


.UploadPageWrap .form-wrap {
  position: relative;
  margin: 2.6% auto;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  background: #fefcfc;
  text-align: center;

}

.Price_box {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.price_text {
  width: 130px;
}

.price {
  width: 60px;
}

.UploadPageWrap .UploadTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
}

.UploadPageWrap .table-active {
  background: #333436;
  color: #fff;
  padding: 15px;
  width: 120px;
  height: 40px;
}

.btn-primary {
  color: #fff;
  background-color: #232324;
  border-color: #333436;
}

.btn-primary:hover {
  color: #fff;
  background-color: #333436;
  border-color: #333436;
}

.UploadPageWrap table tbody tr {
  height: 50px;
  margin: 0 auto;
}




.UploadPageWrap .remove:hover {
  background: white;
  color: black;
}

.UploadPageWrap h3 {
  text-align: left;
  margin: 10px 0;
  font-size: medium
}

.UploadPageWrap .btnSubmit {
  margin: 30px;
  padding: 10px;
}

.UploadPageWrap .uploadImg {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 10px;
}

.UploadPageWrap .uploadImg img {
  height: 150px;
}


.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.btn-outline-secondary {
  padding: 0 10px;
}

.UploadPageWrap .detailimg {
  display: flex;
}

.UploadPageWrap .form-check-inline {
  margin-top: 7px;
}

.UploadPageWrap table {
  margin-bottom: 20px;

}


/* 이미지업로드 */
.UploadPageWrap .table thead td,
.table thead th {
  border-width: 0 0 0px;
  color: #363636;
}






.UploadPageWrap .btn-primary {
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.UploadPageWrap .imgUp {
  margin-bottom: 19px;
}

.UploadPageWrap .del {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.UploadPageWrap .imgAdd {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4bd7ef;
  color: #fff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 15px;
}

.UploadPageWrap .col-sm-2 {
  flex: 0 0 auto;
  width: 100%;
}






.comment-add {
  width: 100%;
  margin-bottom: 10px;
  display: table;
  height: 100px;
}

.comment-add .addBtn {
  width: 100px;
  height: 100px;

}

.comment-add>textarea {
  padding: 10px;
  display: table-cell;
  width: calc(100% - 102px);
  min-height: 100px;
  vertical-align: top;
  resize: vertical;
  resize: none;
  border: 1px solid #ddd;
}

.comment-add>button {
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 80px;
  height: 100%;
  vertical-align: top;
}

div.comment-edit {}

div.comment-edit>p {
  white-space: pre-line;
}

div.comment-edit>div {
  display: none;
}

div.comment-edit>div>form {
  width: 100%;
  margin-bottom: 10px;
  display: table;
  height: 100px;
}

div.comment-edit>div>form>textarea {
  margin: 0;
  padding: 10px;
  display: table-cell;
  width: calc(100% - 102px);
  min-height: 100px;
  vertical-align: top;
  resize: vertical;
}

div.comment-edit>div>form>button {
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 80px;
  height: 100%;
  vertical-align: top;
  color: #1d1d1d
}


.comment-edit-btn-close {
  display: none;
}


.comment-item {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.comment-item>img {
  margin-right: 10px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: top;
}

.comment-item>div:first-of-type {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: top;

}

.comment-item>div:first-of-type>p {
  display: inline-block;
  margin-right: 5px;
}


.comment-delete-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;

}

.comment-delete-modal>div {
  width: 300px;
  margin: 250px auto;
  background-color: #fff;
  padding: 20px;
}

.fixedBG {
  width: 100%;
  height: 300px;
  background-image: url("../image/main1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.DetailPage button {
  border: none;
  color: #fff !important;
  background-color: #333;

}

.DetailPage img {
  cursor: pointer;
}

.DetailCard p {
  margin: 10px;
}

.DetailCard .d-flex .btn {
  border-radius: 50%;
}


.DetailInner .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
}

.DetailInner .carousel-caption {
  position: absolute;
  right: 15%;
  left: 61%;
  color: #333;
  text-align: center;
}

.DetailPage .btn-primary:hover {
  color: #fff;
  background-color: #818181;
}



.ItemList .ItemCard .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemList .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1F2428;
}

.ItemList .table>:not(caption)>*>* {
  border-bottom-width: 0px;
}

.ItemList .pagination a {
  color: #1d1d1d;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ddd;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff
}

.headerLogin .nav-link {
  color: #1d1d1d;
}

.headerLogin .nav-link:hover {
  color: #000;
}

.nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.ItemList .table>:not(:first-child) {
  border-top: 2px solid #dadada;
}

.uploadImg p {
  margin-top: 0;
  margin: 0;
}


/* 상위로 올리는 버튼 */
.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}

/* 마이페이지 스타일 */
.myPagewrap {
  position: relative;
  margin: 2.6% auto;
  padding-top: 20px;
  box-shadow: 0 30px 28px rgb(0 0 0 / 10%), 0 10px 5px rgb(0 0 0 / 10%);
  background: #fff;
}





.myPagewrap .myPageTitle {
  margin: 20px 0 0px 0;
  font-size: 25px;


}

.myPagewrap .nav-link {
  color: #1d1d1d;
}

.myPagewrap .nav-link:hover {
  color: #000;
}

.myPagewrap .pt-3 {
  padding-top: 0rem !important;
}

.IdFindTitle {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.IdFindwrap .form-wrap {
  width: 460px;
  height: 730px;
  position: relative;
  margin: 2.6% auto;
  padding: 0%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #fefcfc;
}

.IdFindwrap {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.IdFindwrap .input-group {
  top: 210px;
  position: absolute;
  width: 380px;
  transition: .5s;
  margin: 0;
  border: 0;
}

.IdFindwrap .IdPwd {
  border: 1px solid #ddd;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.modal-dialog {
  max-width: 504px;
  margin: 20rem auto;
}




/* 아이디 비밀번호 성공 팝업 */
.IdFindwrap .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: beige;
  /* 전체 배경 색상 */
  background-color: rgba(0, 0, 0, 0.4);
}

.IdFindwrap .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0 16px;
  border: 1px solid #888;
  width: 30%;
}

.IdFindwrap .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.IdFindwrap .close:hover,
.IdFindwrap .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.IdFindwrap .input-field {
  padding: 5px;
}

.aButton {
  transition: 1.0s ease all;
  -moz-transition: 1.0s ease all;
  -webkit-transition: 1.0s ease all;
  border: none;
  border-radius: 3px;
  background-image: url("image/오토바이사진-01.png");
  font-size: 14px;
  text-decoration: none;
  box-shadow: none;
}

.quickmenu .shadow {
  box-shadow: 0 !important;
}

.aButton:hover {
  transition: 1.0s ease all;
  -moz-transition: 1.0s ease all;
  -webkit-transition: 1.0s ease all;
}

.rotateY {
  cursor: pointer;

}

.rotateY:hover {
  transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transition: transform 1.0s ease all;
  -moz-transition: -moz-transform 1.0s ease all;
  -webkit-transition: -webkit-transform 1.0s ease all;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}




/* 팔러가기 버튼 스크롤 무빙 css */
#back_banner {
  position: relative;
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url(./image/main1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.row .block {
  float: left;
  width: 25%;
}

.hovicon {
  display: inline-block;
  font-size: 45px;
  line-height: 90px;
  cursor: pointer;
  margin: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: rgb(32, 110, 255);
  font-weight: 600;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hovicon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}


.hovicon.effect-8 {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.hovicon.effect-8:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hovicon.effect-8:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #000;
}

.hovicon.effect-8:hover i {
  color: #000;
}

.hovicon.effect-8:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}

/* 팔러가기 버튼 스크롤 무빙 css 끝 */