

#wrap {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.selector-for-some-widget {box-sizing: content-box;}

header {width: 1140px;  background:gold}
  
.slider {margin-bottom: 100px;}
  
section  {width: 1140px;  background:tomato}
footer  {width: 1140px;  background:rgb(133, 133, 182);  }


.ItemTitle {text-align: left; font-weight: bold; }

.ItemButton {height: auto; background:red}